body {
    display: flex;
    flex: 1;
    flex-shrink: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    flex-direction: column;
}

.first{
    margin: 0;
    display: flex;
    flex-direction: column;
    flex: 1;
    flex-shrink: 0;
    background-color: #1f2937;
}
.header {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
}
.logo {
    margin: 0;
    display: flex;
    font-size: 24px;
    font-weight: bold;
    color: #f9faf8;
    padding-left: 210px;
    padding-top: 12px;
}
.links {
    display: flex;
    gap: 32px;
    padding-right: 125px;
    padding-top: 12px;
}

.eye-catcher {
    display: flex;
    flex: 1;
    margin-top: 100px;
    padding-bottom: 120px;
    justify-content: center;
}
.left-top {
    width: 400px;
    font-size: 48px;
    font-weight: bold;
    color: #f9faf8;
}
.left-eye {
    padding-left: 75px;
    margin-right: 50px;
}
.subtext {
    font-size: 18px;
    color: white;
    width: 455px;
}

.signup {
    margin-top: 10px;
    background-color: #3882f6;
    border-radius: 7px;
    border: 0;
    width: 125px;
    height: 35px;
    color: white;
    font-size: 18px;
}

.chopper {
    width: 500px;
    height: 250px;
}

.second {
    display: flex;
    align-items: center;
    flex: 1;
    flex-direction: column;
    padding-bottom: 100px;
    margin: 0;
}
.random {
    display: flex;
    font-size: 36px;
    font-weight: bold;
    color: #1f2937;
    margin: 40px;
}

.fourPics {
    display: flex;
    flex: 1;
    gap: 24px;
    
}
.under {
    color: grey;
    width: 200px;
    text-align: center;
    font-size: 17px;
}
.pics {
    width: 200px;
    height: 175px;
    border-radius: 8px;
}

.third {
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
    align-items: center;
    padding: 120px 0px;
}

.quote {
    display: flex;
    width: 900px;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1f2937;
    
}
.thor {
    margin-left: 500px;
    font-size: 24px;
    font-weight: bold;
}

.fourth {
    display: flex;
    justify-content: center;
    padding: 100px;
}

.block {
    display: flex;
    flex-direction: column;
    color: white;
}

.blue {
    display: flex;
    background-color: #3882f6;
    padding: 24px 75px;
    gap: 16px;
    align-items: center;
    border-radius: 8px;
    width: 800px;
    height: 75px;
}

.second-signup {
    background-color: #3882f6;
    border-color: white;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

ul {
    list-style-type: none;
}